body
{
background-color: darkblue;
color:rgb(155, 101, 30);
}

nav 
{
    height: 6000px;
    width: 200px;
    float: left;
    padding: 5px;
    line-height: 30px;
}

footer 
{
    text-align: center;
    margin-right: 200px;
}

#memeImage 
{
    margin-right:center;
}

header{
    text-align: center;
}